@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/*=============================
            LAYOUT
===============================*/

.img_cover {
    background-size: cover !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.bck_blue {
    background: #152855;
}

/*=============================
            FOOTER
=============================*/

footer .footer_disclaimer {
    margin: 10px 0px;
}

footer {
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    padding: 30px 0px;
}

/*=============================
    SIGN UP AND LOGIN FORMS
===============================*/

.google {
    background: transparent;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-radius: 100px;
    background: transparent;
    border: 1px solid black;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    margin: 10px
}

.facebook {
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-radius: 100px;
    background: transparent;
    border: 1px solid black;
    color: #3b5998;
    padding: 5px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
}

.twitter {
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-radius: 100px;
    background: transparent;
    border: 1px solid black;
    color: #00acee;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}

.linkedin {
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-radius: 100px;
    background: transparent;
    border: 1px solid black;
    color: #0e76a8;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}

.container {
    margin-top: 3%;
    margin-left: 40%;
}

.input-field {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 85% 15%;
    padding: 0 0.04rem;
    position: relative;
    text-align: center;
}

.input-field input {
    background: none;
    border: none;
    outline: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
    transform: translateX(-50%, -50%);
    text-align: center;
}

.input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
}

.input-field input:focus {
    text-align: center;
}

.social-text {
    padding: 0.7rem 5rem;
    font-size: 1rem;
}

.social-icon-container {
    margin-left: 4.3rem;
}

.social-icon {
    height: 46px;
    width: 46px;
    align-items: center;
    justify-content: center;
    margin: 0.45rem;
    font-size: 16px;
    cursor: pointer;
}

.link_logo {
    display: inline-block;
    text-decoration: none;
}

.username {
    padding-left: 7.58rem;
}

.email {
    padding-left: 5.5rem;
}

.password {
    padding-left: 7.8rem;
}

.password-check {
    padding-left: 6.7rem;
}

label {
    font-weight: bold;
}

/*=============================
            DASHBOARD
===============================*/

.admin_container {
    display: flex;
}

.admin_container .admin_left_nav {
    min-height: 100vh;
    background: #282828;
    border-right: 2px solid #01285e;
}

.admin_container .admin_right {
    flex-grow: 1;
}

.admin_container h2 {
    margin: 0px 0px 50px 0px;
    border-bottom: 1px solid #dbdbdb;
    color: #414141;
    font-size: 40px;
}

.user_dashboard {
    font-size: 60px;
    font-family: 'Righteous', cursive;
    color: #d5ebfe;
    text-align: center;
    margin-top: 200px;
}

/*=============================
            CAROUSEL
===============================*/

.carousel_wrapper {
    padding: 5%;
    align-items: center;
    font-size: 1.5rem;
}

.carousel {
    text-align: center;
    color: white;
}

.carousel-item {
    margin: 0;
    padding: 10%;
    background: #333;
}